bcrypt
cryptography
email-validator
databases==0.9.0
fastapi
passlib
psycopg2-binary
pydantic
pydantic_core
PyJWT
SQLAlchemy
python-dotenv
uvicorn
python-multipart
pika
requests
starlette>=0.47.2 # not directly required, pinned by Snyk to avoid a vulnerability